input {
  lumberjack {
    port => 5000
    type => 'logs'
    ssl_certificate => '/etc/logstash/conf.d/files/certs/logstash-forwarder.crt'
    ssl_key => '/etc/logstash/conf.d/files/private/logstash-forwarder.key'
  }
}
